@using RPRM.Models.Metiers;
@model List<Groupe>

@{
    ViewData["Title"] = "Orange -RPRM";
    await Component.InvokeAsync("CheckPermission", new { className = "Groupe" });
    var permissions = TempData["Permissions"] as dynamic;
    bool hasViewPermission = permissions?.View ?? false;
    bool hasEditPermission = permissions?.Edit ?? false;


}

<div class="pagetitle">
    <h1>Gestion des Groupes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Manager</li>
            <li class="breadcrumb-item active">Groupes</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
        <div id="messageGroupe"></div>
        <h5 class="card-title">Liste des Groupes</h5>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        <div class="modal fade" id="addGroupeModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter Groupe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="addGroupeForm" asp-controller="Manage" asp-action="addgroupe" method="post" asp-anti-forgery="true">
                        <div class="modal-body">
                            <div class="row mb-3">
                                <label for="n_groupe" class="col-md-4 col-lg-3 col-form-label">Nom Groupe</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="nom_groupe"  type="text" class="form-control" id="n_groupe"  value="" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="EngIn" class="col-md-4 col-lg-3 col-form-label">Eng Val In</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Eng_Val_In" type="number" class="form-control"  min="0" max="100" pattern="\d{1,3}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="EngOut" class="col-md-4 col-lg-3 col-form-label">Eng Val Out</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Eng_Val_out" type="number" class="form-control"  min="0" max="100" pattern="\d{1,3}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Date Debut</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="date_d" type="date" class="form-control" >
                                </div> 
                            </div>
                            <div class="row mb-3">
                                <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Date fin</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="date_f" type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="modal fade" id="modifyGroupeModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modifier Groupe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="updateGroupeForm" asp-controller="Manage" asp-action="Updategroupe" method="post" asp-anti-forgery="true">
                        <input type="hidden" name="code_groupe" id="mcode_Groupe_Hidden" />
                        <div class="modal-body">
                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Code Groupe</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="code_groupe" type="text" class="form-control" id="mCode_groupe" value="" disabled>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="mNom_groupe" class="col-md-4 col-lg-3 col-form-label">Nom Groupe</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="nom_groupe" type="text" class="form-control" id="mNom_groupe" value="" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="EngIn" class="col-md-4 col-lg-3 col-form-label">Eng Val In</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Eng_Val_In" type="number" class="form-control" id="mEngIn" min="0" max="100" pattern="\d{1,3}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="EngOut" class="col-md-4 col-lg-3 col-form-label">Eng Val Out</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="Eng_Val_out" type="number" class="form-control" id="mEngOut" min="0" max="100" pattern="\d{1,3}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Date Debut</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="date_d" type="date" class="form-control" id="mdate_d">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Date fin</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="date_f" type="date" class="form-control" id="mdate_f">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        @if (hasEditPermission)
        {
            <button type="submit" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addGroupeModal">Ajouter Groupe</button>
        }

        <form asp-controller="Manage" asp-action="DeleteSelected" method="post">
            <table id="table_groupe" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        @if (hasEditPermission)
                        {
                            <th scope="col"></th>
                        }
                        <th scope="col">Code Groupe</th>
                        <th scope="col">Nom Groupe</th>
                        <th scope="col">Eng Val In</th>
                        <th scope="col">Eng Val Out</th>
                        <th scope="col">Date Debut</th>
                        <th scope="col">Date fin</th>
                        @if (hasEditPermission)
                        {
                            <th scope="col">Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var groupe in Model)
                    {
                        var date_d = groupe.Date_d.HasValue ? groupe.Date_d.Value.ToShortDateString() : "";
                        var date_f = groupe.Date_f.HasValue ? groupe.Date_f.Value.ToShortDateString() : "";


                        <tr>
                            @if (hasEditPermission)
                            {
                                <td><input class="form-check-input" type="checkbox" name="selectedIds" value="@groupe.Code_Groupe"></td>
                            }
                            <td>@groupe.Code_Groupe</td>
                            <td>@groupe.Nom_Groupe</td>
                            <td>@groupe.Eng_Val_In</td>
                            <td>@groupe.Eng_Val_out</td>
                            <td>@date_d</td>
                            <td>@date_f</td>
                            @if (hasEditPermission)
                            {
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm edit-btn mod_groupe" data-bs-toggle="modal" data-bs-target="#modifyGroupeModal" data-code-groupe="@groupe.Code_Groupe" data-nom-groupe="@groupe.Nom_Groupe" data-engin="@groupe.Eng_Val_In" data-engout="@groupe.Eng_Val_out" data-date-d="@date_d" data-date-f="@date_f"><i class="bi bi-pencil"></i></button>
                                </td>
                            }
                            
                        </tr>
                    }
                </tbody>
            </table>
            @if (hasEditPermission)
            {
                <input type="hidden" name="className" value="Groupe" />
                <input type="checkbox" id="selectAll" class="form-check-input" style="margin-top: 0.4em;margin-left: 0.45em;">
                <label>Tout cocher</label>
                <button type="submit" id="delete-btn-check" class="btn btn-sm btn-danger">Supprimer</button>
            }
            
        </form>
        <br />
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table_groupe').DataTable();
            $('#table_groupe').on('click', '.mod_groupe', function () {
                var codegroupe = $(this).data("code-groupe");
                var nomgroupe = $(this).data("nom-groupe");
                var engin = $(this).data("engin");
                var engout = $(this).data("engout");
                var date_d = $(this).data("date-d");
                var date_f = $(this).data("date-f");

                const dateParts_d = date_d.split("/");
                const dateParts_f = date_f.split("/");
                const formattedDate_d = `${dateParts_d[2]}-${dateParts_d[1]}-${dateParts_d[0]}`;
                const formattedDate_f = `${dateParts_f[2]}-${dateParts_f[1]}-${dateParts_f[0]}`;

                $("#mcode_Groupe_Hidden").val(codegroupe);
                $("#mCode_groupe").val(codegroupe);
                $("#mNom_groupe").val(nomgroupe);
                $("#mEngIn").val(engin);
                $("#mEngOut").val(engout);
                $("#mdate_d").val(formattedDate_d);
                $("#mdate_f").val(formattedDate_f);
            });
            $('#addGroupeForm').on('submit', function (e) {
                e.preventDefault();

                let data = $(this).serializeArray();
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        //let rowHTML = createRowHTML(data);
                        //$('#table_groupe').find('tbody').append(rowHTML); 
                        $('#messageGroupe').removeClass().addClass('alert alert-success');
                        $('#messageGroupe').text(response.message).show();
                    },
                    error: function () {
                        $('#messageGroupe').removeClass().addClass('alert alert-danger');
                        $('#messageGroupe').text('Erreur lors de la soumission du formulaire.').show();
                    }
                });

                $('#addGroupeModal').modal('hide');
            });

            $('#updateGroupeForm').on('submit', function (e) {
                e.preventDefault();
                let data = $(this).serializeArray();
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        //let rowHTML = createRowHTML(data);
                        //$('td:contains("' + data["Code_Groupe"] + '")').parent().replaceWith(rowHTML); 
                        $('#messageGroupe').removeClass().addClass('alert alert-success');
                        $('#messageGroupe').text(response.message).show();
                    },
                    error: function () {
                        $('#messageGroupe').removeClass().addClass('alert alert-danger');
                        $('#messageGroupe').text('Erreur lors de la soumission du formulaire.').show();
                    }
                });

                $('#modifyGroupeModal').modal('hide');
            });

        });
        function createRowHTML(data) {
            let getFieldValue = (fieldName) => {
                let field = data.find(item => item.name === fieldName);
                return field ? field.value : 'undefined';
            }

            let code_groupe = getFieldValue('Code_Groupe');
            let nom_groupe = getFieldValue('nom_groupe');
            let engin = getFieldValue('Eng_Val_In');
            let engout = getFieldValue('Eng_Val_out');
            let date_d = getFieldValue('date_d');
            let date_f = getFieldValue('date_f');

            let rowHTML = `
                <td><input class="form-check-input" type="checkbox" name="selectedIds" value="${code_groupe}"></td>
                <td>${code_groupe}</td>
                <td>${nom_groupe}</td>
                <td>${engin}</td>
                <td>${engout}</td>
                <td>${date_d}</td>
                <td>${date_f}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm edit-btn mod_groupe" data-bs-toggle="modal" data-bs-target="#modifyGroupeModal" data-code-groupe="${code_groupe}" data-nom-groupe="${nom_groupe}" data-engin="${engin}" data-engout="${engout}" data-date-d="${date_d}" data-date-f="${date_f}">
                        <i class="bi bi-pencil"></i>
                    </button>
                </td>
            `;
            return rowHTML;
        }

    </script>
    <script src="~/js/site.js"></script>
}